<div class="container-fluid">
    <div class="modal-header">
        <h5 class="modal-title text-danger">图片选择</h5>
        <button type="button" class="close" aria-label="Close" (click)="close()">
         <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row-horizontal">
            <div class="c-avatar-cut-box">
                <img-cropper #imgCropper [image]="imgData" [settings]="imgSettings"></img-cropper>
            </div>
            <div class="c-avatar-preview-box c-ml15 text-left">
                <div class="c-avatar-title">图片预览</div>
                <div class="c-mt15">
                    <img class="center-block c-avatar-img-lg" [ngClass]="{'rounded-circle': imgSettings.rounded}" *ngIf="imgData.image" [src]="imgData.image" [width]="imgSettings.croppedWidth" [height]="imgSettings.croppedHeight">
                    <img class="center-block c-avatar-img-lg" [ngClass]="{'rounded-circle': imgSettings.rounded}" *ngIf="!imgData.image" src="../../../../assets/img/preloader/placeholder-img.png" [width]="imgSettings.croppedWidth" [height]="imgSettings.croppedHeight">
                </div>
            </div>
        </div>
        <div class="row text-danger c-mt10">
            注：请上传小于8M的JPG/JPEG、PNG图片。
        </div>
    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-md-4 text-left">
                <div class="c-file-upload">
                    <button class="btn btn-primary "><i class="fa fa-search" aria-hidden="true"></i> 选择图片</button>
                    <input type="file" c-img-cropper-select [cropper]="imgCropper" ng2FileSelect [uploader]="uploader">
                </div>
            </div>
            <div class="col-md-4 text-center">
                <button type="button" class="btn btn-success" (click)="uploadImage()"><i class="fa fa-cloud-upload" aria-hidden="true"></i> 确定提交</button>
            </div>
            <div class="col-md-4 text-right">
                <button type="button" class="btn btn-light" (click)="close()"><i class="fa fa-close" aria-hidden="true"></i> 关闭窗口</button>
            </div>
        </div>
    </div>


</div>